
.container {
    /* width: 100%;
    max-width: 500px; */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,auto);
    padding: 50px 50px;
    gap: 2%;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

.blog-post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 1px solid rgba(128, 128, 128, 0.281);
    padding-bottom: 20px;
    background-color: rgba(172, 172, 172, 0.081);
    border-radius: 10px;
    width: 400px;
}

.part1 img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.part2{
    padding: 10px 20px;
}

.part1-2{
    padding: 10px 20px;
}

.blog-post img {
    width: 100%;
    height: auto;
}

.post-title {
    font-size: 24px;
    margin: 15px 0 10px;
}

.post-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.edit-btn {
    background-color: #ffc107;
    color: #fff;
    transition: .3s;
}

.add-btn{
    background-color: green;
    color: #fff;
    transition: .3s;
}

.delete-btn {
    background-color: #dc3545;
    color: #fff;
    transition: .3s;
}

.add-btn:hover {
    background-color: #00e05d;
    transform: scale(1.1);
    color:black;
    font-weight: bold;
}

.edit-btn:hover {
    background-color:#f2ec45;
    transform: scale(1.1);
    color:black;
    font-weight: bold;
}

.delete-btn:hover {
    background-color: #f0081f;
    transform: scale(1.1);
    color:black;
    font-weight: bold;
}

.create_new_post{
    background-color: tomato;
    text-align: center;
    padding: 10px 20px;
    width: 50%;
    margin: auto;
    cursor: pointer;
    border-radius: 10px;

}
.create_new_post a{text-decoration: none;color:black;font-weight: bold;}
.create_new_post:hover{background-color: #ffc107;}


.login-prompt {
    text-align: center;
    margin: 50px auto;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-prompt h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.login-prompt p {
    font-size: 1.2em;
    color: #666;
}

.login-prompt a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.login-prompt a:hover {
    text-decoration: underline;
}
