{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block style %}
    <title>Dummy Homepage</title>
    <link rel="stylesheet" href='{% static "css/home.css" %}'>
    {% endblock style %}
    
     
</head>
<body>
    <header>
        <nav>
            <div class="navBar">
            {% if request.user.is_authenticated %}
            <div class="profile_image">
                <img src='{% static "images/profile.jpg" %}' alt=""> 
                <p style="color:cyan;font-size:large;">Hi {{request.user.username}}!!! </p> <br>
            </div>
            
            {% endif %}
            <ul>
                <li><a href="{% url 'home_page' %}">Home</a></li>

                <li><a href="{% url 'blog_post' %}">Posts</a></li>

                {% if request.user.is_authenticated %}
                 <li><a href="{% url 'logout_page' %}">Logout</a></li>
                 <li><a href="{% url 'update_profile' %}">Settings</a></li>
                 {% else %}
                 <li><a href="{% url 'login_page' %}">Login</a> / <a href="{% url 'signup_page' %}">SignUp</a></li>
                 {% endif %}
            </ul>
        </div>
        </nav>
    </header>
  
    {% block content %}
      
    {% endblock content %}
   

    <footer>
        <p>&copy; 2023 Dummy Homepage. All rights reserved.</p>
    </footer>
</body>
</html>