{% extends "base.html" %}
{% load static %}
{% block style %}
<title>Blog Page</title>
<link rel="stylesheet" href='{% static "css/home.css" %}'> 
{% endblock style %}

{% block content %}
<link rel="stylesheet" href='{% static "css/crud.css" %}'> 

<div class="container">


    {% if not info %}
      <div class="blog-post">
         <h1>There is no post yet</h1>
         <p class="create_new_post"><a href="{% url 'create_post'%}">Create Post</a></p>
      </div>
    {% endif %}




    {% for data in info %}
    <div class="blog-post" id="post{{ forloop.counter }}">
        <div class="part1">
            {% if data.img %}
            <img src="{{ data.img.url }}" alt="Post Image">
            {% else %}
                <img src="{% static 'images/image1.jpg' %}" alt="Default Image">
            {% endif %}
        </div>
        <div class="part2">
            <h2 class="post-title">{{ data.title }}</h2>
            <p class="post-description">{{ data.content }}</p>
            <div class="buttons">
            <a href="{% url 'create_post' %}"><button class="add-btn">Create</button></a> 
            <a href="{% url 'edit_post' data.id %}"><button class="edit-btn">Edit</button></a>
            <a href="{% url 'delete_post' data.id %}"><button class="delete-btn">Delete</button></a>
            </div>
        </div>
    </div> 
    {% endfor %}


</div>

{% endblock content %}
