{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href='{% static "css/home.css" %}'> 
<link rel="stylesheet" href='{% static "css/profile_update.css" %}'> 
<style>
  .errorlist {
      color: red;
  }
</style>
{% endblock style %}


{% block content %}
   
<div class="container">
  
  
  <div class="user_settings">
  <p class="ps" style="color:green">Update Personal Details</p>
  <form action="" method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      <input type="hidden" name="update_profile" value="true">
      <div class="setting"><label for="">Username</label> {{form.username}}</div>
      <div class="setting"><label for="">First name</label> {{form.first_name}}</div>
      <div class="setting"><label for="">Last name</label> {{form.last_name}}</div>
      <div class="setting"><label for="">Email address</label> {{form.email}}</div>
      <button type="submit">UPDATE</button>
  </form>
  </div>

 <div class="password_change_settings">
  <p class="ps" style="color:red">Change your password</p>
  <form action="" method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      <input type="hidden" name="change_password" value="true">
      <div class="setting">{{password_form.as_p}}</div>
      <button type="submit">SET PASSWORD</button>
  </form>
  </div>

</div>

{% endblock content %}